body{
    margin:0 auto;
    width: 60%;
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0px 0px 35px 1px rgb(172, 172, 172); ;
}
nav{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    color:white;
}
.menu > div{
    margin: 8px;
    font-size:12px;
    text-align: center;
}
.pack{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(48, 47, 70);
    color: white;  
}
.para-pack{
    font-size: 35px;
}
.para-pack1{
    font-size: 25px;
}
.eclosion{
    height: 130px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.diveclo{
    width:250px;
    height: 80px;
    background-color: rgb(48, 47, 70);
    display: flex;
    justify-content: center;
    align-items: center;
}
.eclo{
    font-size: 35px;
    color: white;
}
.logo-para{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 35px 0px;
}
.logo-para p{
    width: 50%;
}
.onglet{
    display: flex;
    height: 170px;
    width: 100%;
    background-color: bisque;
    justify-content: space-evenly;
}
.onglet > div{
    margin: 8px;
    color: black;
    font-size: 20px;
}
.logo-onglet{
    height: 100px;
    margin: 8px;
    font-size:12px;
    text-align: center;
    display: flex;
    align-items: center;
}
.parent-evol{
    display: flex;
    justify-content: center;
    align-items: center;
}
.evolution{
    width:250px;
    height: 80px;
    background-color: rgb(48, 47, 70);
    font-size: 35px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.onglet2{
    flex-wrap: wrap;
    display: flex;
    height: 500px;
    width: 100%;
    background-color: bisque;
    justify-content: space-evenly;
    gap: 130px;
}
.onglet2 > div{
    color: black;
    font-size: 20px;
}
.logo-onglet2{
    height: 100px;
    margin: 8px;
    font-size:12px;
    text-align: center;
    display: flex;
}
.parent-envol{
    display: flex;
    justify-content: center;
    align-items: center;
}
.envol{
    width:250px;
    height: 80px;
    background-color: rgb(48, 47, 70);
    font-size: 35px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.onglet3{
    display: flex;
    height: 210px;
    width: 100%;
    background-color: bisque;
    justify-content: space-evenly;
}
.logo-onglet3{
    display: flex;
    background-color: bisque;
    justify-content: space-evenly;
}
.onglet3 > div{
    margin: 8px;
    color: black;
    font-size: 20px;
}
.logo-onglet3{
    height: 100px;
    margin: 8px;
    font-size:12px;
    text-align: center;
    display: flex;
    align-items: center;
}
.final{
    height: 220px;
    background-color: rgb(36, 33, 33);
}
.foot3{
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 25px;
}
.contact{
    display: flex;
    justify-content: space-evenly;
}
.icon{
    height: 50px;
    margin: 15px;
}